li{
    display: inline-block;
    padding-right: 8%;
}
#container{
    width: 100%;
}
#title{
    margin-left: 40%;
}
header{
    width: 100%;
    color: #b7b7b6;
    padding-bottom: 2%;
}
footer{
    bottom: 0;
    text-align: center;
}
html{ 
    font-size: calc(0.7em + 0.7vw) ;
    background-color: #3F3F3F;
    color: #b7b7b6;
}
#logo{
    left: 0;
    width: 10%;
    height: 10%;
    display: inline-block;
    margin-bottom: -5%;
}
ul{
    margin-left:15%;
    width:80%;
    margin-top: -1%;
}
a{
    color: #b7b7b6;
    text-decoration: none;
}
.nk_bar{
    
    position: relative;
    min-width: 80rem;
}


.nk_bar{
    background:black;
}
.affix {
    top: 0;
    width: 100%;
}

.affix + .container-fluid {
    padding-top: 70px;
}