li{
    display: inline-block;
    padding-left: 10%;
    margin-left:7%
}
#container{
    width: 100%;
}
#title{
    margin-left: 40%;
}
header{
    width: 100%;
}
footer{
    bottom: 0;
    text-align: center;
}